/*
CITRICOX - SASS BOOTSTRAP THEME
Author: Ismael Fernández
Version: 1.0
*/
/*BASE - Base styles, variables, mixins,etc */
/* Font Colors*/
/*$base-font-family:"Segoe UI","Segoe WP","Segoe Regular",sans-serif;*/
/* Background Colors */
@media (max-width: 767px) {
  /* line 44, ../scss/base/_mixins.scss */
  ul.navbar-nav {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
/* line 52, ../scss/base/_mixins.scss */
input, button, select, textarea, a.btn {
  border-radius: 0px !important;
}

/* line 55, ../scss/base/_mixins.scss */
.thumbnail {
  border-radius: 0px !important;
}

/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Glegoo", serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
}

/* MODULES */
/* line 1, ../scss/modules/_buttons.scss */
.btn3d {
  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

/* line 13, ../scss/modules/_buttons.scss */
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
  -moz-outline-style: none;
  outline: medium none;
}

/* line 17, ../scss/modules/_buttons.scss */
.btn3d:active, .btn3d.active {
  top: 2px;
}

/* line 20, ../scss/modules/_buttons.scss */
.btn3d.btn-white {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 whitesmoke, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #fff;
}

/* line 25, ../scss/modules/_buttons.scss */
.btn3d.btn-white:active, .btn3d.btn-white.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #fff;
}

/* line 30, ../scss/modules/_buttons.scss */
.btn3d.btn-default {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #bebebe, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #f9f9f9;
}

/* line 35, ../scss/modules/_buttons.scss */
.btn3d.btn-default:active, .btn3d.btn-default.active {
  color: #666666;
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #f9f9f9;
}

/* line 40, ../scss/modules/_buttons.scss */
.btn3d.btn-primary {
  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #4d5bbe, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #4274D7;
}

/* line 44, ../scss/modules/_buttons.scss */
.btn3d.btn-primary:active, .btn3d.btn-primary.active {
  box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #4274D7;
}

/* line 48, ../scss/modules/_buttons.scss */
.btn3d.btn-success {
  box-shadow: 0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #78d739;
}

/* line 52, ../scss/modules/_buttons.scss */
.btn3d.btn-success:active, .btn3d.btn-success.active {
  box-shadow: 0 0 0 1px #30cd00 inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #78d739;
}

/* line 56, ../scss/modules/_buttons.scss */
.btn3d.btn-info {
  box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #348fd2, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #39B3D7;
}

/* line 60, ../scss/modules/_buttons.scss */
.btn3d.btn-info:active, .btn3d.btn-info.active {
  box-shadow: 0 0 0 1px #00a5c3 inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #39B3D7;
}

/* line 64, ../scss/modules/_buttons.scss */
.btn3d.btn-warning {
  box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #d79a34, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #FEAF20;
}

/* line 68, ../scss/modules/_buttons.scss */
.btn3d.btn-warning:active, .btn3d.btn-warning.active {
  box-shadow: 0 0 0 1px #d79a47 inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #FEAF20;
}

/* line 72, ../scss/modules/_buttons.scss */
.btn3d.btn-danger {
  box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #aa0000, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #D73814;
}

/* line 76, ../scss/modules/_buttons.scss */
.btn3d.btn-danger:active, .btn3d.btn-danger.active {
  box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #D73814;
}

/* line 80, ../scss/modules/_buttons.scss */
.btn3d.btn-magick {
  color: #fff;
  box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 2px rgba(255, 255, 255, 0) inset, 0 8px 0 0 #9823d5, 0 8px 8px 1px rgba(0, 0, 0, 0);
  background-color: #bb39d7;
}

/* line 85, ../scss/modules/_buttons.scss */
.btn3d.btn-magick:active, .btn3d.btn-magick.active {
  box-shadow: 0 0 0 1px #9a00cd inset, 0 0 0 1px rgba(255, 255, 255, 0) inset, 0 1px 3px 1px rgba(0, 0, 0, 0);
  background-color: #bb39d7;
}

/* line 1, ../scss/modules/_sections.scss */
.box {
  width: 33%;
  float: left;
  border: 1px dotted #CCC;
  padding: 10%;
  text-align: center;
}

/* line 8, ../scss/modules/_sections.scss */
#tateti {
  font-family: Rock Salt;
  font-weight: bold;
  font-size: 40px;
  width: 600px;
  display: block;
  margin: auto;
}

/* line 1, ../scss/modules/_components.scss */
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-radius: 0;
}

/* line 4, ../scss/modules/_components.scss */
input[type=text], input[type=email] {
  width: 100%;
  padding: 5px;
  margin: 10px 0px 10px;
}

/* LAYOUTS */
/* NavBar */
/* line 2, ../scss/layouts/_nav.scss */
ul.navbar-nav {
  float: right !important;
}

/* line 1, ../scss/layouts/_footer.scss */
.footer {
  background: #000;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  color: white;
}
