.box{
	width:33%;
	float:left;
	border:1px dotted #CCC;
	padding:10%;
	text-align:center}

	#tateti{
		font-family: Rock Salt;
		font-weight: bold;
		font-size: 40px;
		width: 600px;
		display: block;
		margin: auto;
	}