/* Font Colors*/

$base-font-size:15px;
/*$base-font-family:"Segoe UI","Segoe WP","Segoe Regular",sans-serif;*/
$base-font-family:'Glegoo', serif;
$base-font-color:#666;
$base-padding-top:20px;
/* Background Colors */

$fondo:#CCC;
$blanco:#FFF;

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#efeef2;
$dark-color:#333;

$mtop:30px;

